/**
 * Abschlussprojekt 2026
 * Formula 1 Statistik App
 *
 * Autor: Anisa Durani
 * Beschreibung: Hauptseite css
 * Datenquelle: Supabase
 * Technologie: React, Vite, React Router
 */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  color: red;
}