.navbar {
  position: grid;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 30px;
  border-bottom: 2px solid #7d1c1c;

  font-family: Arial, sans-serif;
}

.logo {
  color: #580d0d;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #e2e8f0;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

/* Hover Effekt */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #5b0b0b;
  transition: 0.3s;
}

.nav-links a:hover {
  color: white;
}

.nav-links a:hover::after {
  width: 100%;
}

.burger {
  display: none;
  background: none;
  border: none;
  color: #580d0d;
  font-size: 28px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .burger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    width: 220px;
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    gap: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }

  .nav-links.active {
    display: flex;
  }
}